*{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* --- Mobile First --- */
.left-col{
    background: rgb(34,164,195);
    background: linear-gradient(0deg, rgba(34,164,195,1) 0%, rgba(253,188,45,1) 100%);
    color: white;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 20vh;
}

.content{
    position: relative;
    text-align: center;
}

.left-col, .right-col{
    padding: 8.8rem 8vw;
}

h1{
    margin: 0;
    font-family:'Bebas Neue';
    font-weight: normal;
    text-transform: uppercase;
    font-size: 6.4rem;
    line-height: 1.2em;
}

p{
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0;
}

button{
    font-size: 1.8rem;
    width: 100%;
    background: rgb(34,164,195);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 1em;
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    outline: none;
}

button:hover {
    background-color: rgba(253,188,45,1);
    box-shadow: 0px 15px 20px rgba(229, 171, 46, 0.4);
    color: white;
    transform: translateY(-7px);
    outline: none;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
}

.weather{
    color: rgba(0, 0, 0, 0.727);
    font-size: 1.6rem;
}
.city{
    font-weight: bold;
}
.max{
    color: red;
    opacity: 70%;
}
.min{
    color: blue;
    opacity: 70%;
}
.description{
    text-transform: capitalize;
}
.temp{
    font-weight: bold;
}
cite{
    font-size: 1.8rem;
}

/*Desktop Version*/
@media only screen and (min-width: 1200px){
    body{
        display: flex;
    }
    .left-col, .right-col{
        /*Each colum will fill the same */
        flex-basis: 0; 
        flex-grow: 1; 
        height: 100vh;
        display: grid;
        place-items: center;
    }

    button{
        padding: 1em 4em;
    }

    footer{
        text-align: end;
    }
    .weather{
        font-size: 1.8rem;
        padding-right: calc(55% - 50%);
    }

}